.noProjects {
    margin: auto;
    margin-top: 10vw;
    width: 70%;
    vertical-align: middle;
}

@media only screen and (max-width: 800px) {
    .noProjects h1 {
        font-size: 6vw !important;
    }
}

.containerMeet {
    margin: auto 2.5em;
}
