/* .landing{
    background-image: url("../../assets/topography.svg");
} */

.landing {
    padding: 3em;
}

.landingCTA{
    height: 80vh;
    margin-top: auto;
    overflow: auto;
}

.landingCTA {
scrollbar-width: none;
}

.landingCTA::-webkit-scrollbar {
display: none;
}

.landingCard{
    padding: 0 10em;
}

@media screen and (max-width: 1280px) {
    .landingCTA {
      display: none;
    }
  }
  