.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar,
.navbar .container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}


.navbar {
    padding: 1.15rem 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.035);
    background-color: #fff;
}

@media (min-width: 576px) {
    .navbar .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .navbar .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .navbar .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .navbar .container {
        max-width: 1140px;
    }
}

.navbar .navbar-header {
    display: flex;
    align-items: center;
}


.navbar .navbar-header>a {
    font-weight: 500;
    color: #3c4250;
}

.navbar .navbar-menu {
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
    align-items: center;
}

.navbar .navbar-menu .navbar-nav {
    margin-left: auto;
    flex-direction: row;
    display: flex;
    padding-left: 0;
    margin-bottom: 0.625rem;
    list-style: none;
}


.navbar .navbar-header>a span {
    color: rgb(56, 56, 253);
}

.navbar .navbar-header h4 {
    font-weight: 500;
    font-size: 2.25rem;
}

@media (max-width: 768px) {
    .navbar .navbar-header h4 {
        font-size: 1.05rem;
    }
}

.avatar{
    width: 2.5rem !important;
    height: 2.5rem !important;
}